# POSTGRES ENV
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

# RABBIT ENV
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672

# REDIS ENV
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# DJANGO ENV
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=*

# AWS
AWS_URL_ENDPOINT=
AWS_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# N2YO API (get own api key here: https://www.n2yo.com/api/)
N2YO_API_KEY_V1=
