{% extends "core/base.html" %}
{% load static %}

{% block additional_head %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="{% static 'core/components/make-request.js' %}"></script>
    <script src="{% static 'core/components/draw-points.js' %}"></script>
    <script src="{% static 'core/components/add_popovers.js' %}"></script>
    <script src="{% static 'core/components/get-time-period.js' %}"></script>
    <script src="{% static 'core/components/render-map-graph-ql.js' %}"></script>
    <script src="{% static 'core/components/get-position-query.js' %}"></script>
    <script src="{% static 'core/components/clean-map.js' %}"></script>
    <script src="{% static 'core/components/prepare-satellite.js' %}"></script>
    <script src="{% static 'core/components/position-satellite.js' %}"></script>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div id="box">
            <img id="map" src="{% static 'tracker/world.jpg' %}" alt="world-map"/>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
<script>

  let backendBaseURL = '{{ backend_url }}';
  const graphAPIURL = 'http://' + backendBaseURL + '/api/v1/GRAPH/';
  const worldMapURL = '{% static "tracker/world.jpg" %}';
  const satelliteURL = '{% static "tracker/sat.png" %}';
  const dataPointURL = '{% static "tracker/square.png" %}';

  var app = new Vue({
    el: '#app',
    data: {
      question: '',
      dataPoints: [],
      worldMapURL: worldMapURL,
      graphAPIURL: graphAPIURL,
    },
    computed: {
      getWorldURL: function () {
        return this.worldMapURL
      }
    },
    methods: {
      testMethod: function() {
        return 'Method Test String.'
      }
    },
    // call backed for info on vue instance creation
    created() {
      // on init and on menu change
      renderGraphQl(graphAPIURL);
      const periodSelectForm = $('.period-select-form');
        $(periodSelectForm).change(function(event) {
            cleanMap();
            renderGraphQl(graphAPIURL);
        });
    }
  })

</script>
{% endblock %}
