{% extends "core/base.html" %}
{% load static %}

{% block additional_head %}

    <script src="{% static 'core/components/make-request.js' %}"></script>
    <script src="{% static 'core/components/draw-points.js' %}"></script>
    <script src="{% static 'core/components/add_popovers.js' %}"></script>
    <script src="{% static 'core/components/get-time-period.js' %}"></script>
    <script src="{% static 'core/components/render-map-rest.js' %}"></script>
    <script src="{% static 'core/components/get-position-query.js' %}"></script>
    <script src="{% static 'core/components/clean-map.js' %}"></script>
    <script src="{% static 'core/components/prepare-satellite.js' %}"></script>
    <script src="{% static 'core/components/position-satellite.js' %}"></script>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div id="box">
            <img id="map" src="{% static 'tracker/world.jpg' %}" alt="world-map"/>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        const backendBaseURL = '{{ backend_url }}';
        const satelliteURL = '{% static "tracker/sat.png" %}';
        const restAPIUrl = 'http://' + backendBaseURL + '{% url "satellite-positions-rest-list" %}';

        let timePeriodString = $('.select-period:checked')[0].value;

        // on init
        renderRest(restAPIUrl + '?query=' + timePeriodString, satelliteURL);
        const periodSelectForm = $('.period-select-form');
        // on change
        $(periodSelectForm).change(function (event) {
            cleanMap();
            timePeriodString = $('.select-period:checked')[0].value;
            renderRest(restAPIUrl + '?query=' + timePeriodString, satelliteURL);
        });
    </script>
{% endblock %}
