{% extends "core/base.html" %}
{% load static %}

{% block additional_head %}
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="{% static 'core/components/make-request.js' %}"></script>
    <script src="{% static 'core/components/draw-points.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div id="box">
            <img id="map" src="{% static 'tracker/world.jpg' %}" alt="world-map"/>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let backendBaseURL = '{{ backend_url }}';
            console.log('GOT BACKEND URL');
            console.log(backendBaseURL);

            const restAPIUrl = 'http://' + backendBaseURL + '{% url "satellite-positions-rest-list" %}'

            console.log(restAPIUrl)

            const worldMapURL = '{% static "tracker/world.jpg" %}';
            const satelliteURL = '{% static "tracker/sat.png" %}';
            const dataPointURL = '{% static "tracker/square.png" %}';

            makeRequest('get', restAPIUrl, '').then(function (response) {
                console.log('GOT RESPONSE');

                var mapDiv = $('#box');
                var positionInfo = document.querySelector('#box').getBoundingClientRect();
                var color = '#' + (Math.random() * 0xFFFFFF << 0).toString(16);
                var point_list = [];

                var satIcon = $('<img />');
                var dataResponse = response[0];
                var dataContent = "Longi: " + (dataResponse.positions[0].longitude).toFixed(2) +
                    '<br>' +
                    "Lati: " + (dataResponse.positions[0].latitude).toFixed(2)

                $(satIcon).attr('class', 'pop');
                $(satIcon).attr('id', 'SatId_' + dataResponse.noradId);
                $(satIcon).attr('src', satelliteURL);
                $(satIcon).attr('alt', 'Sat ' + dataResponse.name);
                $(satIcon).attr('data-toggle', 'popover');
                $(satIcon).attr('data-trigger', 'focus');
                $(satIcon).attr('data-html', true);
                $(satIcon).attr('title', dataResponse.name);
                $(satIcon).attr('data-content', dataContent);
                $(satIcon).css('display', 'none');
                $(satIcon).css('width', "2%");
                $(satIcon).css('height', "4%");
                $(satIcon).css('position', 'absolute');
                $(satIcon).css('top', '0px');
                $(satIcon).css('left', '0px');

                // put the most actual satellite position on map
                // count where to put the most actual satellite position
                xPx = scaleX(dataResponse.positions[0].longitude, positionInfo.width);
                yPx = scaleY(dataResponse.positions[0].latitude, positionInfo.height);
                $(satIcon).css('left', xPx - 10 + "px");
                $(satIcon).css('top', yPx - 20 + "px");
                $(satIcon).css('display', '');
                $(satIcon).css('z-index', '10');
                $(mapDiv).append($(satIcon));

                // main loop for data points
                for (var l = 1; l < dataResponse.positions.length; l++) {
                    var node = dataResponse.positions[l];
                    var previous_node = dataResponse.positions[l-1];

                    // find history objects for satellite with name i-th unique name
                    var point = mapDivPoint(color);
                    $(mapDiv).append($(point));
                    // count where to put past position icon
                    var xPx = scaleX(node.longitude, positionInfo.width);
                    var yPx = scaleY(node.latitude, positionInfo.height);                    var xPx = scaleX(node.longitude, positionInfo.width);

                    var xPx_prev = scaleX(previous_node.longitude, positionInfo.width);
                    var yPx_prev = scaleY(previous_node.latitude, positionInfo.height);

                    $(point).css('left', xPx + "px");
                    $(point).css('top', yPx + "px");
                    $(point).css('display', '');

                    $(point).css('left', xPx_prev + "px");
                    $(point).css('top', yPx_prev + "px");
                    $(point).css('display', '');

                    // count distance between two points
                    var dist = Math.sqrt(Math.pow((xPx_prev - xPx), 2) + Math.pow((yPx_prev - yPx), 2));
                    // draw line if the distance is close enough
                    if (dist < 100) {
                        $(mapDiv).append(createLine(xPx_prev, yPx_prev, xPx, yPx, color));
                    }
                    console.log('DRAW');
                }

                // popovers
                $(".pop").each(function () {
                    $(this).on('mouseover', function (event) {
                        $(this).popover('show');
                    });

                    $(this).on('mouseout', function () {
                        $(this).popover('hide');
                    });

                    $(this).on('hide.bs.popover', function () {
                        $(document).off('click.popover');
                    });
                });
            });
        });
    </script>
{% endblock %}
