{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>f2f Q3 2019 APP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <script src="{% static 'core/moment.js' %}"></script>
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="container align-center">
        <form class="period-select-form">
            <b>Choose Time Period:</b>
            <label class="radio-inline">
              <input class='select-period' type="radio" name="time-period" value="today" checked>Today
            </label>
            <label class="radio-inline">
              <input class='select-period' type="radio" name="time-period" value="yesterday">Yesterday
            </label>
            <label class="radio-inline">
              <input class='select-period' type="radio" name="time-period" value="thisWeek">This Week
            </label>
            <label class="radio-inline">
              <input class='select-period' type="radio" name="time-period" value="thisMonth">This Month
            </label>
            <label class="radio-inline">
              <input class='select-period' type="radio" name="time-period" value="all">All
            </label>
        </form>
    </div>

</body>

{% block additional_scripts %}
{% endblock %}
</html>
